.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}
div {
  line-height: 1;
}

.videoMainTitle{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:16;
  text-align:center;
  color:#336699;
}

.videoThumbTitle{
  font-family:"tacoma";
  font-size:12px;
  color:#336699;
}

.moreVideo{
  font-size:24px;
  color:#003399;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
}

.tableContent{
  font-family:"tacoma";
  font-size:14px;
}

.centerDIV {
  width: 480px ;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  vertical-align: top
}

.my-switch-container {
  position:relative;
  height:90px;
  max-width: 600px;
}

.my-switch-animation.ng-enter,
.my-switch-animation.ng-leave {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  transition:1.2s linear all;
  height:120px;

  position:absolute;
  top:0;
  left:0;
  right:0;
}

.my-switch-animation.ng-enter {
  left:50%;
}

.my-switch-animation.ng-leave,
.my-switch-animation.ng-enter.ng-enter-active {
  left:0;
}

.my-switch-animation.ng-leave.ng-leave-active {
  left:-100%;
}

.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Direction Nav */
.flex-direction-nav a {
  display: block;
  position: absolute;
  margin: -17px 0 0 0;
  width: 35px;
  height: 35px;
  top: 50%;
  cursor: pointer;
  text-indent: -9999px;
  z-index: 9999;

  background-color: #bfab8b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bfab8b), to(#f5e2c1));
  background-image: -webkit-linear-gradient(top, #bfab8b, #f5e2c1);
  background-image: -moz-linear-gradient(top, #bfab8b, #f5e2c1);
  background-image: -o-linear-gradient(top, #bfab8b, #f5e2c1);
  background-image: linear-gradient(to bottom, #bfab8b, #f5e2c1);
}


.flex-direction-nav a:before {
  display: block;
  position: absolute;
  content: '';
  width: 9px;
  height: 13px;
  top: 11px;
  left: 11px;
  background: url(../images/arrows.png) no-repeat;
}

/* IF YOU WANT TO DRAW THE ARROWS USE THESE STYLES

.flex-direction-nav a:before {
	display: block;
	position: absolute;
	content: '';
	width: 9px;
	height: 13px;
	top: 11px;
	left: 11px;
	background-image:
        linear-gradient(-45deg, #dac6a6 4px, transparent 4px),
        linear-gradient(-135deg, #dac6a6 4px, transparent 4px),
        linear-gradient(-45deg, #69604f 6px, transparent 6px),
        linear-gradient(-135deg, #69604f 6px, transparent 6px);

}


.flex-direction-nav a.flex-prev:before {
	background-image:
        linear-gradient(45deg, #dac6a6 4px, transparent 4px),
        linear-gradient(135deg, #dac6a6 4px, transparent 4px),
        linear-gradient(45deg, #69604f 6px, transparent 6px),
        linear-gradient(135deg, #69604f 6px, transparent 6px);
}

*/

.flex-direction-nav a:after {
  display: block;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 35px;
}

.flex-direction-nav .flex-next {
  right: -5px;

  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.flex-direction-nav .flex-prev {
  left: -5px;

  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.flex-direction-nav .flex-next:before { background-position: -9px 0; left: 15px; }
.flex-direction-nav .flex-prev:before { background-position: 0 0; }

.flex-direction-nav .flex-next:after {
  right: 0;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #580018;
}

.flex-direction-nav .flex-prev:after {
  left: 0;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #580018;
}
