
<div class="centerDIV">
    <div class="videoMainTitle">{{topVideoTitle}}</div>
    <div  my-youtube code="topVideoCode"></div> <br>
</div>

<flex-slider class="carousel"  myslide="s in latestTenItems track by s.vId" animation="slide" animation-loop="false" item-width="186" item-margin="5"
             >
    <li>
        <div><img ng-src="{{getThumbnailURL(s)}}" ng-click="imageClicked(s)" ></div>
        <div><span class="videoThumbTitle">{{s.title}}</span></div>
    </li>
</flex-slider>

<div class="centerDIV">
        <a href="" ng-click="gotoVideoList()" class="moreVideo">More Video</a>
</div>

