
<span class="input-append">
    <input type="text" ng-model="query" ng-change="search()" class="input-large search-query" placeholder="Search">
    <span class="add-on"><i class="icon-search"></i></span>
</span>

<span class="btn-group">
    <a class="btn dropdown-toggle">
        {{ selectedLanguage || 'Select a Language'}}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li ng-repeat="choice in languages">
            <a ng-click="languageSelected(choice)">{{choice}}</a>
        </li>
    </ul>
</span>

<table class="table table-striped table-condensed table-hover ">
    <thead>
    <tr>
        <th>Video</th>
        <th class="title">Title&nbsp;<a ng-click="sort_by('title')"><i class="icon-sort"></i></a></th>
        <th class="teacher">Teacher&nbsp;<a ng-click="sort_by('teacher')"><i class="icon-sort"></i></a></th>
        <th class="description">Description&nbsp;<a ng-click="sort_by('description')"><i class="icon-sort"></i></a></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="5">
        <pagination total-items="filteredItems.length"
                    page="currentPage"
                    items-per-page="itemsPerPage"
                    max-size="maxPaginationSize"
                    class="pagination-sm"
                    boundary-links="true"
                    rotate="false" num-pages="numPages">
        </pagination>
        <div>Total Number of Videos: {{numberofVideos}}; <span ng-show="numberofVideos!=filteredItems.length">Found: {{filteredItems.length}}</span></div>
        </td>
    </tr>
    </tfoot>
    <tbody class="nohover">
    <tr ng-repeat="h in pagedItems[currentPage-1]  | filter:query | orderBy:sortingOrder:reverse "  >
        <td><a ng-href="{{getLinkCode(h)}}" target="_blank"><img ng-src="{{getThumbnailURL(h)}}"></a></td>
        <td class="tableContent">{{h.title}}</td>
        <td class="tableContent">{{h.teacher}}</td>
        <td class="tableContent">{{h.description}}</td>
    </tr>
    </tbody>

</table>
